/* height responsiveness */
@media (min-height: 767px) {
    #text {
        padding: 5vw;
        width: 60vw;
        top: 35vh;
    }
    @keyframes move_left {
        100% {
           transform: translateX(-40vw);
        }
    }
}

@media (min-height: 950px) {
    @keyframes move_left {
        100% {
            transform: translateY(50vw);
        }
    }
}
@media (max-height: 376px) {
    #text {
        font-size: 1rem;
    }
}

/*width responsiveness*/

@media(max-width: 1024px) {

    #submit {
        min-width: 13vw;
    }
}

@media (max-width: 767px) {
    #text {
        width: 75vw;
        top: 8vh;
    }

    #sign-up-form {
        margin-top: 1.5rem;
    }

    #email {
        margin-top: .8rem;
        padding: .4rem;
    }

    #submit {
        width: 30vw;
    }

    @keyframes move_left {
        100% {
            transform: translateX(-350vw);
        }
    }
}

@media (max-width: 414px) {
    #text {
        width: 65vw;
    }

}

