@media(min-width: 768px){
    #text{
        width: 40vw;
    }
}
@media /*(min-width: 415px)and*/  (max-width: 767px){
    #text{
        width: 70vw;
    }
    #sign-up-form{
        margin-top: 1.5rem;
    }
    #email{
        width: 40vw;
        margin-top: 1rem;
    }
    #submit{
        width: 30vw;
    }
}

@media (max-width: 414px){
    #text{
        width: 65vw;
    }
    #email{
        width: 53vw;
    }
};

