@media(max-width: 1024px) and (min-height: 768px){
    #text{
        padding: 5vw;
        width: 60vw;
        top: 40vw;
    }
     @keyframes margin-left{
        100%{
            padding: 20px;
            margin-left: auto;
            margin-top: -8vw;
        }
        }
    #email{
        width: 30vw;
    } 
    #submit{
        min-width: 13vw;
    }
    } 

@media (max-width: 767px){
    #text{
        width: 75vw;
        top: 8vh;
    }
    #sign-up-form{
        margin-top: 1.5rem;
    }
    #email{
        width: 45vw;
        margin-top: .8rem;
        padding: .4rem;
    }
    #submit{
        width: 30vw;
    }
    @keyframes margin-left{
        100%{
            margin-left: -350vw;
        }
    }
}

@media (max-width: 414px){
    #text{
        width: 65vw;
    }
    #email{
        width: 60vw;
    }
}

@media (max-height: 376px){
  #text{
     font-size: 1rem;
  }
}

