*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0; 
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    overflow-x: hidden;
    color: #fff;
    animation: color-black 1s linear 7s forwards;
}

@keyframes color-black{
    0%{
        background-color: #ffffff;
    }
    100%{
        background-color: black;
    }
}

.scale{
    animation: scale 5000ms linear 1 forwards;
  }
  @keyframes scale{
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
#green{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
    
  }
  
  #par{
    /* color: white; */
    margin: 0;
    text-align: center;
    font-size: 15rem;
    line-height: 2.1;
    animation: 
        rotate 900ms linear 5 forwards,
        margin-left 2500ms linear 1 forwards 5000ms;
  }
  @keyframes rotate{
      100%{
          transform: rotate(360deg);
      }
  }
  @keyframes margin-left{
    100%{
        padding: 30px;
        margin-left: -45vw;
    }
}
  .intro, .coming, .sign-up{
      display: none;
  }

  #text{
      width: 30vw;
      color:#fff;
      font-weight: 500;
      position: absolute;
      right: 10vw;
      top: 15vh;
      font-size: 1.1rem;
  }
 
  input{
      font-size: 16px;
  }

  #email{
      outline: none;
      border: 1px solid #fff;
      padding: 0.6rem;
      margin-left: 1rem;
      width: 21vw;
  }

  #submit{
      padding: .6rem;
      margin-top: 1.5rem;
      margin-left: 5rem;
      background-color: black;
      color: #fff;
      border: 1px dotted #fff;
      min-width: 10vw;
      line-height: 1;
      font-family: "Roboto Slab";
      transition: all 0.5s ease;
      text-align: center;
      font-weight: 300;

  }

  #submit:hover{
    cursor: pointer;
    color: black;
    background-color:white;
    border: none;
}

  #sign-up-form{
      animation: fadein 3000ms linear 14000ms 1 forwards;
      opacity: 0;
      margin-top: 3rem;
  }

  @keyframes fadein{
      0%{
          opacity: 0;
      };
      50%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  





