*{
    box-sizing: border-box
}
body{
    margin: 0;
    padding: 0; 
    background-color: #fff;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
    color: #fff;
}
.scale{
    animation: scale;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes scale{
    0%{
      transform: scale(0);
    }
    50%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
#green{
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: calc(50% - 250px);
    left: calc(50% - 250px);
  }
  
  #par{
    /* color: white; */
    margin: 0;
    text-align: center;
    font-size: 15rem;
    line-height: 2.1;
    animation-name: rotate;
    animation-duration: 900ms;   
    animation-iteration-count: 5;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes rotate{
      100%{
          transform: rotate(360deg);
      }
  }
  .intro, .coming, .sign-up{
      display: none;
  }



  #text{
      width: 25vw;
      color:#fff;
      font-weight: 500;
      position: absolute;
      right: 10%;
      top: 15%;
      font-size: 1.1rem;
      /* animation-name: typewriting;
      animation-duration: 11000ms;
      animation-timing-function: steps(346); */
      

  }
  /* @keyframes typewriting{
      0%{
          width:0;
        }
      50%{
          width:0
        }
      100%{
          width: 25vw
        }
    
  }  */

  #email{
      outline: none;
      border: 1px solid #fff;
      padding: 0.5rem;
      margin-left: 1rem;
      width: 18vw;
  }
  #submit{
      padding: .5rem;
      margin-top: 1.5rem;
      margin-left: 5rem;
      background-color: white;
      border: none;
      width: 12vw;
      height: 6.5vh;
      line-height: 1;
      font-family: "Roboto Slab";
      transition: all 0.5s ease;
      text-align: center;

  }

  #submit:hover{
    cursor: pointer;
    
    color: white;
    background-color: black;
    border: 1px dotted white;
}

  #sign-up-form{
      animation: fadein 3000ms linear 14000ms 1 forwards;
      opacity: 0;
      margin-top: 3rem;
  }

  @keyframes fadein{
      0%{
          opacity: 0;
      };
      50%{
          opacity: 0;
      }
      100%{
          opacity: 1;
      }
  }
  





